.input__box {
  display: flex;
  position: relative;
  border: 0.1rem solid #ccc;
  margin-bottom: 0.5rem;
}
.icon__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  background-color: #fafafa;
  color: #ccc;
  border-right: 0.1rem solid #ccc;
}
.info__box {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.icon__box svg {
  width: 1.3rem;
  height: 1.3rem;
  display: inline;
}
.info__normal {
  border-bottom: 0.1rem solid #ccc;
}
.info__normal,
.info__dawn {
  width: 100%;
  height: 2.8rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0073ed;
}

.addr {
  color: #111;
}
.info__normal p,
.info__dawn p {
  margin: 0;
  font-weight: bold;
  padding-left: 0.75rem;
}
.info__normal svg,
.info__dawn svg {
  width: 1.6rem;
  height: 1.6rem;
  display: inline;
  margin-right: 0.5rem;
}
