.main {
  width: 61.25rem;
  margin: 0 auto;
}
.contents {
  padding: 2.8rem 2.6rem;
  margin-top: 0.5rem;
  margin-bottom: 3.25rem;
  border: 0.1rem solid #e0e0e0;
  border-top: 0.13rem solid #8a8a8a;
  background-color: #fff;
}
.contents__header {
  display: flex;
  position: relative;
  align-items: baseline;
}
.contents__header-icon {
  width: 1.8rem;
  height: 1.8rem;
  color: #5e5e5e;
}
.contents__header h1 {
  margin: 0;
  margin-left: 0.5rem;
  font-size: 1.7rem;
}
.contents__header ul {
  position: absolute;
  display: flex;
  margin: 0;
  top: 0.5rem;
  right: 0;
  color: #cecece;
}
.step {
  display: flex;
  align-items: center;
}
.step {
  font-size: 0.9rem;
  font-weight: bold;
}
.step__num {
  margin: 0;
  font-size: 1.1rem;
  margin-right: 0.1rem;
}
.step__title {
  margin: 0;
}
.step svg {
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
}
.step__here {
  color: #646464;
}
.step__here .step__num {
  color: #0ea6ed;
}

/* tab메뉴 */
.tab {
  display: flex;
  margin-top: 2.3rem;
}
.tab li {
  box-sizing: border-box;
  padding: 1rem;
  width: 50%;
  text-align: center;
  font-weight: bold;
  border: 0.1rem solid #e2dfdf;
  border-bottom: 0.13rem solid #0073e9;
  background-color: #f5f5f5;
}
.tab li:first-child {
  background-color: #fff;
  border: 0.13rem solid #0073e9;
  color: #0073e9;
  border-bottom: 0;
}
/* 전체선택/상품정보/상품금액/배송비 */
.items__menu {
  margin: 0;
  padding: 0.55rem 0;
  font-size: 0.75rem;
  font-weight: bold;
  width: 100%;
  background-color: #f5f5f5;
  border-top: 0.1rem solid #e2dfdf;
  border-bottom: 0.1rem solid #e2dfdf;
  display: flex;
}
.menu__check {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 10%;
}
.menu__check input {
  margin: 0 1rem;
}
.menu__info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.menu__total__price,
.menu__delivary__price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.items__delivary_type {
  padding: 1.5rem 1.2rem;
  border-bottom: 0.1rem solid #e2dfdf;
  font-weight: bold;
}
/* 아이템 표시 */
.items__box {
  display: flex;
  width: 100%;
  border-bottom: 0.1rem solid #e2dfdf;
}
.item__check {
  display: flex;
  width: 5%;
  padding: 1.3rem 0;
  align-items: center;
  justify-content: center;
}
.item__img {
  width: 9%;
  padding: 1.3rem 0;
}
.item__img img {
  display: inline-block;
  width: 4.8rem;
  height: 4.8rem;
  background: url("../../assets/img/test/test.jpg") no-repeat;
  background-size: contain;
}
.item__info {
  width: 66%;
  padding: 0.62rem 0.3rem 0.62rem 0.9rem;
}
.item__title {
  padding: 1.3rem 0;
  color: #555;
  font-weight: bold;
  font-size: 0.8rem;
  border-bottom: 0.1rem solid #e2dfdf;
  padding-bottom: 0.7rem;
}
.item__etc {
  display: flex;
  padding-top: 0.4rem;
  font-size: 0.8rem;
  justify-content: space-between;
}
.item__quantity {
  display: flex;
  align-items: center;
  color: #aaa;
}
.item__quantity__origin {
}
.item__quantity select {
  margin-left: 0.2rem;
}
.item__quantity__total__price {
  margin-left: 1.2rem;
}
.item__quantity svg {
  cursor: pointer;
  margin-left: 0.3rem;
  display: inline;
  width: 1rem;
  height: 1rem;
}
.item__cash {
  display: flex;
  justify-content: flex-end;
}
.item__cash__container {
  margin-top: 0.87rem;
  position: relative;
  display: flex;
  width: fit-content;
  padding: 0.1rem 0.3rem;
  border-radius: 0.625rem;
  font-size: 0.75rem;
  border: 0.1rem solid #ccc;
}
.item__cash__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe30b;
  top: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
}
.item__cash__circle svg {
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  color: #ffc90b;
}
.item__total__price {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  border-left: 0.1rem solid #e2dfdf;
}
.item__delivary__price {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  border-left: 0.1rem solid #e2dfdf;
}

/* 총 가격 계산 */
.calc {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  background-color: #f5f5f5;
  padding: 1.4rem 2.2rem;
  border-bottom: 0.1rem solid #e2dfdf;
}
.calc span {
  margin-right: 0.2rem;
}
.plus,
.equal {
  display: inline-block;
  margin: 0 0.5rem;
  width: 1.3rem;
  height: 1.3rem;
  color: #b2b2b2;
}
.equal {
  transform: rotate(90deg);
}
.calc__price,
.calc__delivary,
.calc__total {
  font-size: 1rem;
  font-weight: 500;
}
.calc__total {
  font-weight: bold;
}

/* 전체선택 삭제 */
.select {
  padding: 1.25rem 0 1.8rem 0.5rem;
  display: flex;
  font-size: 0.75rem;
}
.select__check {
  display: flex;
  align-items: center;
}
.select__check input {
  margin-right: 0.5rem;
}
.cur__total {
  color: #888888;
}
.select__all,
.select__soldOut {
  margin-left: 0.63rem;
  padding: 0.2rem 0.37rem;
  border: 0.1rem solid #ccc;
  cursor: pointer;
}

/* 캐쉬적립 혜택 */
.cash {
  position: relative;
  border-radius: 0.15rem;
  border: 0.1rem solid #ddd;
  font-size: 0.88rem;
  padding: 1.25rem 1.25rem 1.25rem 3.3rem;
}
.coin__circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe30b;
  left: 1.3rem;
  top: 1rem;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 1rem;
}
.coin__circle svg {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  color: #ffc90b;
}
.cash h3 {
  margin: 0;
  font-size: 0.88rem;
  margin-bottom: 0.2rem;
}

/* 최종계산 */
.total {
  margin-top: 2.55rem;
}
.total__container {
  font-size: 0.87rem;
  border: 0.25rem solid #c8c8c8;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  box-sizing: border-box;
}
.plus-square,
.equal-square {
  display: inline-block;
  margin: 0 0.5rem;
  width: 1.3rem;
  height: 1.3rem;
  color: #b2b2b2;
}
.equal-square {
  transform: rotate(90deg);
}
.total__price {
  margin: 0 0.3rem;
  font-size: 1rem;
  font-weight: bold;
}
.total__price__final {
  font-size: 1.25rem;
  color: #ea0000;
}

/* 버튼(계속 쇼핑하기/구매하기) */
.button {
  font-size: 1.4rem;
  text-align: center;
  margin: 6.125rem 0 1rem;
}
.button__shopping,
.button__buy {
  box-sizing: border-box;
  display: inline-block;
  width: 13.5rem;
  padding: 0.8rem 0;
  border: 0.125rem solid #0073e9;
  border-radius: 0.25rem;
}
.button__shopping {
  color: #0073e9;
  margin-right: 0.8rem;
}
.button__buy {
  color: #fff;
  background-color: #0073e9;
}
