.header {
  width: 61.25rem;
  margin: 0 auto;
}
.logo {
  margin-top: 1.1rem;
  display: inline-block;
  width: 8.5rem;
  height: 2.5rem;
  background: url("../../../assets/img/logo/logo_coupang.webp") no-repeat;
  background-size: contain;
}
