.dropdown {
  position: absolute;
  width: 600px;
  height: 100%;
  top: -1px;
  left: 170px;
  box-shadow: 0px 3px 1px rgb(0 0 0 / 20%);
  font-size: 0.875rem;
  background-color: #fff;
  border: 1px solid #ddd;
  display: none;
}

.show {
  display: block;
}

.dropdown__submenu {
  position: absolute;
  box-shadow: none;
  border-right: none;
  left: 170px;
  width: 150px;
  height: 100%;
  z-index: 2;
  background-color: transparent;
  top: -1px;
}

.fashion__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/fashion.webp") no-repeat 100px 140px;
}

.beauty__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/beauty.webp") no-repeat 100px 140px;
}
.child__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/child.webp") no-repeat 100px 140px;
}
.food__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/food.webp") no-repeat 100px 140px;
}
.kitchen__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/kitchen.webp") no-repeat 100px 140px;
}
.life__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/life.webp") no-repeat 100px 140px;
}
.interior__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/interior.webp") no-repeat 100px 140px;
}
.digital__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/digital.webp") no-repeat 100px 140px;
}
.sports__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/sports.webp") no-repeat 100px 140px;
}
.car__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/car.webp") no-repeat 10px 140px;
}
.book__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/book.webp") no-repeat 100px 140px;
}
.hobby__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/hobby.webp") no-repeat 100px 140px;
}
.office__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/office.webp") no-repeat 100px 140px;
}
.pet__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/pet.webp") no-repeat 100px 140px;
}
.health__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/health.webp") no-repeat 100px 140px;
}
.travel__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/travel.webp") no-repeat 10px 140px;
}
.theme__bg {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../assets/img/category/thmem.webp") no-repeat 100px 140px;
}
/* car travel */
