.cart {
  box-sizing: border-box;
  padding: 0.55rem;
  display: flex;
  font-size: 0.7rem;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  background-color: #373f57;
}
.cart__text {
  display: flex;
  align-items: center;
}
.cart__qty {
  font-weight: bold;
  color: #3abbff;
}
