.tab__menu {
  display: flex;
  width: 100%;
  border-top: 0.15rem solid #555;
  border-bottom: 0.1rem solid #ccc;
  border-left: 0.1rem solid #ccc;
  box-sizing: border-box;
}
.tab__menu li {
  cursor: pointer;
  padding: 0.9rem 0;
  width: 25%;
  text-align: center;
  border-right: 0.1rem solid #ccc;
  background-color: #fafafa;
  color: #555;
  font-weight: bold;
}
.tab__menu li:first-child {
  color: #111;
  background-color: #fff;
  margin-bottom: -0.1rem;
  border-bottom: 0.1rem solid #fff;
}
