.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(50, 50, 50, 0.6);
}
.loading {
  position: fixed;
  border-radius: 0.2rem;
  text-align: center;
  top: 25%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%);
}
.loading svg {
  width: 3rem;
  height: 3rem;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
