.items {
  position: relative;
  width: 595px;
  min-height: 600px;
  overflow: hidden;
}
.button {
  display: block;
  z-index: 1;
  position: absolute;
  top: 44%;
  width: 30px;
  height: 50px;
  background: url("../../assets/img/widget/pc_bestcategory_v2_setting.png")
    no-repeat 0px -15px;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
  transform: scaleX(-1);
}
.items ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.items li {
  padding: 20px 18px 30px 18px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.items img {
  width: 160px;
  height: 160px;
}
.promotion__dot {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10px;
  width: 100%;
  height: 10px;
  margin: 0;
}
.promotion__dot li {
  padding: 0;
  border: 0;
}
.dot {
  width: 10px;
  height: 10px;
  background: url("../../assets/img/widget/pc_bestcategory_v2_setting.png")
    no-repeat 0px -113px;
  margin-right: 10px;
}
.selected {
  width: 10px;
  height: 10px;
  background: url("../../assets/img/widget/pc_bestcategory_v2_setting.png")
    no-repeat -50px -113px;
  margin-right: 10px;
}
.dot:last-child,
.selected:last-child {
  margin: 0;
}
