.best-unit {
  position: relative;
  margin: 0 auto;
  width: 1068px;
  padding-left: 48px;
}
.title {
  display: inline-block;
  width: 290px;
  height: 50px;
  background: url("../../assets/img/widget/coupang_widget_main.png") no-repeat
    0px -125px;
}
