.main {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.category {
  position: absolute;
  padding: 45px 0 0 25px;
}
.category img {
  width: 110px;
  margin-bottom: 5px;
}
.shortcut {
  display: block;
  color: #888;
  font-size: 11px;
  margin-top: 10px;
}
.keyword {
  position: absolute;
  width: 124px;
  bottom: 0;
  padding: 20px 10px 20px;
  border-bottom: 1px solid #ddd;
}
.keyword h4 {
  margin: 0 0 10px;
}
.keyword ul {
  margin: 0 0;
}
.keyword li {
  border: 1px solid #ccc;
  width: fit-content;
  margin: 0 3px 6px 0;
  font-size: 12px;
  padding: 5px 5px;
  cursor: pointer;
}

/* title */
.title {
  display: block;
  width: 110px;
  height: 60px;
}
.woman-clothes {
  height: 30px;
  background: url("../../assets/img/best_title/womanclothe2.png") no-repeat;
  background-size: contain;
}
.man-clothes {
  height: 30px;
  background: url("../../assets/img/best_title/manclothe.png") no-repeat;
  background-size: contain;
}
.beauty {
  height: 30px;
  background: url("../../assets/img/best_title/beauty.png") no-repeat;
  background-size: contain;
}
.child {
  background: url("../../assets/img/best_title/baby.png") no-repeat;
  background-size: contain;
}
.food {
  height: 30px;
  background: url("../../assets/img/best_title/food.png") no-repeat;
  background-size: contain;
}
.kitchen {
  height: 30px;
  background: url("../../assets/img/best_title/kitchen.png") no-repeat;
  background-size: contain;
}
.living {
  height: 30px;
  background: url("../../assets/img/best_title/living.png") no-repeat;
  background-size: contain;
}
.interior {
  background: url("../../assets/img/best_title/home_decoration.png") no-repeat;
  background-size: contain;
}
.digital {
  background: url("../../assets/img/best_title/digital.png") no-repeat;
  background-size: contain;
}
.sports {
  background: url("../../assets/img/best_title/sports.png") no-repeat;
  background-size: contain;
}
.car {
  background: url("../../assets/img/best_title/car.png") no-repeat;
  background-size: contain;
}
.hobby {
  background: url("../../assets/img/best_title/hobby3.png") no-repeat;
  background-size: contain;
}
.office {
  background: url("../../assets/img/best_title/office.png") no-repeat;
  background-size: contain;
}
.book {
  background: url("../../assets/img/best_title/book2.png") no-repeat;
  background-size: contain;
}
.pets {
  background: url("../../assets/img/best_title/pets3.png") no-repeat;
  background-size: contain;
}
.travel {
  height: 30px;
  background: url("../../assets/img/best_title/travel.png") no-repeat;
  background-size: contain;
}
.child-fashion {
  background: url("../../assets/img/best_title/babyfashion.png") no-repeat;
  background-size: contain;
}
.health {
  background: url("../../assets/img/best_title/health.png") no-repeat;
  background-size: contain;
}
