/* default */
.woman-clothes {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat;
}
.man-clothes {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -50px;
}
.beauty {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -100px;
}
.child {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -150px;
}
.food {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -200px;
}
.kitchen {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -250px;
}
.living {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -300px;
}
.interior {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -350px;
}
.digital {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -400px;
}
.sports {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -450px;
}
.car {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -750px;
}
.hobby {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -700px;
}
.office {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -500px;
}
.book {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -600px;
}
.pets {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -550px;
}
.travel {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -650px;
}
.child-fashion {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -800px;
}
.health {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -850px;
}

/* hover */
.woman-clothes-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px 0;
  background-color: #f6699e;
}
.man-clothes-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -50px;
  background-color: #1992df;
}
.beauty-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -100px;
  background-color: #7e57c2;
}
.child-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -150px;
  background-color: #00aad4;
}
.food-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -200px;
  background-color: #ee9200;
}
.kitchen-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -250px;
  background-color: #62ab66;
}
.living-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -300px;
  background-color: #9d7a6d;
}
.interior-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -350px;
  background-color: #dd6641;
}
.digital-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -400px;
  background-color: #5868be;
}
.sports-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -450px;
  background-color: #83be41;
}
.car-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -750px;
  background-color: #254e98;
}
.hobby-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -700px;
  background-color: #3e8d86;
}
.office-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -500px;
  background-color: #97563e;
}
.book-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -600px;
  background-color: #b74b4b;
}
.pets-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -550px;
  background-color: #ab47bc;
}
.travel-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -650px;
  background-color: #00b599;
}
.child-fashion-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -800px;
  background-color: #00aab4;
}
.health-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -850px;
  background-color: #d22e60;
}

/* colors */
.woman-clothes-color {
  background-color: #f6699e;
}
.man-clothes-color {
  background-color: #1992df;
}
.beauty-color {
  background-color: #7e57c2;
}
.child-color {
  background-color: #00aad4;
}
.food-color {
  background-color: #ee9200;
}
.kitchen-color {
  background-color: #62ab66;
}
.living-color {
  background-color: #9d7a6d;
}
.interior-color {
  background-color: #dd6641;
}
.digital-color {
  background-color: #5868be;
}
.sports-color {
  background-color: #83be41;
}
.car-color {
  background-color: #254e98;
}
.hobby-color {
  background-color: #3e8d86;
}
.office-color {
  background-color: #97563e;
}
.book-color {
  background-color: #b74b4b;
}
.pets-color {
  background-color: #ab47bc;
}
.travel-color {
  background-color: #00b599;
}
.child-fashion-color {
  background-color: #00aab4;
}
.health-color {
  background-color: #d22e60;
}
