/* default */
.woman-clothes {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat;
}
.man-clothes {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -50px;
}
.beauty {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -100px;
}
.child {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -150px;
}
.food {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -200px;
}
.kitchen {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -250px;
}
.living {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -300px;
}
.interior {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -350px;
}
.digital {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -400px;
}
.sports {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -450px;
}
.car {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -750px;
}
.hobby {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -700px;
}
.office {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -500px;
}
.book {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -600px;
}
.pets {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -550px;
}
.travel {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -650px;
}
.child-fashion {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -800px;
}
.health {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat 0 -850px;
}

/* hover */
.woman-clothes-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px 0;
  background-color: var(--color-woman-clothes);
}
.man-clothes-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -50px;
  background-color: var(--color-man-clothes);
}
.beauty-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -100px;
  background-color: var(--color-beauty);
}
.child-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -150px;
  background-color: var(--color-child);
}
.food-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -200px;
  background-color: var(--color-food);
}
.kitchen-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -250px;
  background-color: var(--color-kitchen);
}
.living-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -300px;
  background-color: var(--color-living);
}
.interior-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -350px;
  background-color: var(--color-interior);
}
.digital-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -400px;
  background-color: var(--color-digital);
}
.sports-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -450px;
  background-color: var(--color-sports);
}
.car-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -750px;
  background-color: var(--color-car);
}
.hobby-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -700px;
  background-color: var(--color-hobby);
}
.office-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -500px;
  background-color: var(--color-office);
}
.book-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -600px;
  background-color: var(--color-book);
}
.pets-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -550px;
  background-color: var(--color-pets);
}
.travel-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -650px;
  background-color: var(--color-travel);
}
.child-fashion-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -800px;
  background-color: var(--color-child-fashion);
}
.health-hover {
  background: url("../../assets/img/categoryBestUnit/sidebar/pc_bestcategory_v4.webp")
    no-repeat -50px -850px;
  background-color: var(--color-health);
}

/* bgcolors */
.woman-clothes-bgcolor {
  background-color: var(--color-woman-clothes);
}
.man-clothes-bgcolor {
  background-color: var(--color-man-clothes);
}
.beauty-bgcolor {
  background-color: var(--color-beauty);
}
.child-bgcolor {
  background-color: var(--color-child);
}
.food-bgcolor {
  background-color: var(--color-food);
}
.kitchen-bgcolor {
  background-color: var(--color-kitchen);
}
.living-bgcolor {
  background-color: var(--color-living);
}
.interior-bgcolor {
  background-color: var(--color-interior);
}
.digital-bgcolor {
  background-color: var(--color-digital);
}
.sports-bgcolor {
  background-color: var(--color-sports);
}
.car-bgcolor {
  background-color: var(--color-car);
}
.hobby-bgcolor {
  background-color: var(--color-hobby);
}
.office-bgcolor {
  background-color: var(--color-office);
}
.book-bgcolor {
  background-color: var(--color-book);
}
.pets-bgcolor {
  background-color: var(--color-pets);
}
.travel-bgcolor {
  background-color: var(--color-travel);
}
.child-fashion-bgcolor {
  background-color: var(--color-child-fashion);
}
.health-bgcolor {
  background-color: var(--color-health);
}

/* color */
.woman-clothes-color {
  color: var(--color-woman-clothes);
}
.man-clothes-color {
  color: var(--color-man-clothes);
}
.beauty-color {
  color: var(--color-beauty);
}
.child-color {
  color: var(--color-child);
}
.food-color {
  color: var(--color-food);
}
.kitchen-color {
  color: var(--color-kitchen);
}
.living-color {
  color: var(--color-living);
}
.interior-color {
  color: var(--color-interior);
}
.digital-color {
  color: var(--color-digital);
}
.sports-color {
  color: var(--color-sports);
}
.car-color {
  color: var(--color-car);
}
.hobby-color {
  color: var(--color-hobby);
}
.office-color {
  color: var(--color-office);
}
.book-color {
  color: var(--color-book);
}
.pets-color {
  color: var(--color-pets);
}
.travel-color {
  color: var(--color-travel);
}
.child-fashion-color {
  color: var(--color-child-fashion);
}
.health-color {
  color: var(--color-health);
}

/* border top */
.woman-clothes-border {
  border-top: 2px solid var(--color-woman-clothes);
}
.man-clothes-border {
  border-top: 2px solid var(--color-man-clothes);
}
.beauty-border {
  border-top: 2px solid var(--color-beauty);
}
.child-border {
  border-top: 2px solid var(--color-child);
}
.food-border {
  border-top: 2px solid var(--color-food);
}
.kitchen-border {
  border-top: 2px solid var(--color-kitchen);
}
.living-border {
  border-top: 2px solid var(--color-living);
}
.interior-border {
  border-top: 2px solid var(--color-interior);
}
.digital-border {
  border-top: 2px solid var(--color-digital);
}
.sports-border {
  border-top: 2px solid var(--color-sports);
}
.car-border {
  border-top: 2px solid var(--color-car);
}
.hobby-border {
  border-top: 2px solid var(--color-hobby);
}
.office-border {
  border-top: 2px solid var(--color-office);
}
.book-border {
  border-top: 2px solid var(--color-book);
}
.pets-border {
  border-top: 2px solid var(--color-pets);
}
.travel-border {
  border-top: 2px solid var(--color-travel);
}
.child-fashion-border {
  border-top: 2px solid var(--color-child-fashion);
}
.health-border {
  border-top: 2px solid var(--color-health);
}
