.list {
  position: relative;
  display: flex;
  height: 34px;
  cursor: pointer;
}
.title {
  display: flex;
  text-indent: 10px;
  align-items: center;
  position: absolute;
  top: 0;
  left: 34px;
  width: 125px;
  height: 100%;
  font-size: 12px;
  color: white;
}
.icon {
  display: inline-block;
  width: 100%;
  height: 34px;
}

.woman-clothes-title {
  background-color: #f6699e;
}
.man-clothes-title {
  background-color: #1992df;
}
.beauty-title {
  background-color: #7e57c2;
}
.child-title {
  background-color: #00aad4;
}
.food-title {
  background-color: #ee9200;
}
.kitchen-title {
  background-color: #62ab66;
}
.living-title {
  background-color: #9d7a6d;
}
.interior-title {
  background-color: #dd6641;
}
.digital-title {
  background-color: #5868be;
}
.sports-title {
  background-color: #83be41;
}
.car-title {
  background-color: #254e98;
}
.hobby-title {
  background-color: #3e8d86;
}
.office-title {
  background-color: #97563e;
}
.book-title {
  background-color: #b74b4b;
}
.pets-title {
  background-color: #ab47bc;
}
.travel-title {
  background-color: #00b599;
}
.child-fashion-title {
  background-color: #00aab4;
}
.health-title {
  background-color: #d22e60;
}

.woman-clothes {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat;
}
.man-clothes {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -50px;
}
.beauty {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -100px;
}
.child {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -150px;
}
.food {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -200px;
}
.kitchen {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -250px;
}
.living {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -300px;
}
.interior {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -350px;
}
.digital {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -400px;
}
.sports {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -450px;
}
.car {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -500px;
}
.hobby {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -550px;
}
.office {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -600px;
}
.book {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -650px;
}
.pets {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -700px;
}
.travel {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -750px;
}
.child-fashion {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -800px;
}
.health {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat 0 -850px;
}

.woman-clothes-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px 0;
  background-color: #f6699e;
}
.man-clothes-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -50px;
  background-color: #1992df;
}
.beauty-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -100px;
  background-color: #7e57c2;
}
.child-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -150px;
  background-color: #00aad4;
}
.food-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -200px;
  background-color: #ee9200;
}
.kitchen-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -250px;
  background-color: #62ab66;
}
.living-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -300px;
  background-color: #9d7a6d;
}
.interior-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -350px;
  background-color: #dd6641;
}
.digital-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -400px;
  background-color: #5868be;
}
.sports-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -450px;
  background-color: #83be41;
}
.car-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -500px;
  background-color: #254e98;
}
.hobby-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -550px;
  background-color: #3e8d86;
}
.office-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -600px;
  background-color: #97563e;
}
.book-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -650px;
  background-color: #b74b4b;
}
.pets-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -700px;
  background-color: #ab47bc;
}
.travel-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -750px;
  background-color: #00b599;
}
.child-fashion-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -800px;
  background-color: #00aab4;
}
.health-hover {
  background: url("../../assets/img/categoryBestUnit/pc_bestcategory_v4.png")
    no-repeat -50px -850px;
  background-color: #d22e60;
}
