.product {
  width: 61.25rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: -0.1rem;
}
.product__main {
  width: 100%;
  border-bottom: 0.1rem solid #ddd;
}
.product__category {
  margin: 0.9rem 0;
  font-size: 0.7rem;
}
.product__info {
  width: 100%;
  display: flex;
}

.product__text {
  box-sizing: border-box;
  border: 0.1rem solid violet;
  width: 50%;
}
