.product__main {
  padding: 0.9rem;
  width: 100%;
  border-bottom: 0.1rem solid #ddd;
}
.product__category {
  margin: 0 0 1.3rem 0;
  font-size: 0.7rem;
}
.product__infos {
  width: 100%;
  display: flex;
  margin-bottom: 2.8rem;
}
