.today-item-small {
  vertical-align: top;
  position: relative;
  width: 11.25rem;
  height: 3.75rem;
  z-index: 2;
  top: 30px;
  right: -410px;
  box-shadow: 0 4px 5px rgb(0 0 0 / 30%);
  border-top: 1px solid #eee;
}
.hover {
  outline: 2px solid #4285f4;
  outline-offset: -2px;
}
.today-item-big {
  position: absolute;
  top: 0;
  left: 0%;
  transform: translate(-23.5%, 0%);
  display: none;
}
.show {
  display: block;
}
