.contents__header {
  display: flex;
  position: relative;
  align-items: baseline;
}
.contents__header-icon {
  width: 1.8rem;
  height: 1.8rem;
  color: #5e5e5e;
}
.contents__header h1 {
  margin: 0;
  margin-left: 0.5rem;
  font-size: 1.7rem;
}
