.menu-items {
  font-size: 12px;
  padding: 4px 0;
}

.menu-items button {
  position: relative;
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  padding: 4px 15px;
}

.title__padding {
  padding-left: 40px;
}

.arrow {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 5px;
  width: 10px;
  height: 10px;
  background: url("../assets/img/header_img_collection.png") no-repeat -155px -18px;
}
.arrow__depth {
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 155px;
  width: 10px;
  height: 10px;
  background: url("../assets/img/header_img_collection.png") no-repeat -155px -18px;
}

.fashion {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -28px;
}
.beauty {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -112px;
}
.child {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -155px;
}
.food {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -195px;
}
.kitchen {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -280px;
}
.life {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -325px;
}
.interior {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -365px;
}
.digital {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -407px;
}
.sports {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -450px;
}
.car {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -785px;
}
.book {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -575px;
}
.hobby {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -741px;
}
.office {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -492px;
}
.pet {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -533px;
}
.health {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -870px;
}
.travel {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -618px;
}
.theme {
  display: inline-block;
  width: 25px;
  height: 100%;
  background: url("../assets/img/pc_gnb_icon_ver10.png") no-repeat -10px -912px;
}
