.discovery {
  margin: 0px auto;
}
.discovery__title {
  display: inline-block;
  width: 350px;
  height: 50px;
  background: url("../assets/img/widget/coupang_widget_main.png") no-repeat 0px -60px;
}
.discovery__items {
  border: 1px solid #ccc;
}
.discovery__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(300px, 1fr));
  grid-template-areas:
    "a a b b"
    "c d e f"
    "g g h i";
  gap: 10px;
  margin: 10px;
}
