.dropdown {
  position: absolute;

  width: 600px;
  height: 100%;
  top: -1px;
  left: 170px;
  box-shadow: 0px 3px 1px rgb(0 0 0 / 20%);
  /* box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08); */
  font-size: 0.875rem;
  background-color: #fff;
  border: 1px solid #ddd;
  /* display: none; */
}

.show {
  display: block;
}

.dropdown__submenu {
  position: absolute;
  box-shadow: none;
  border-right: none;
  left: 170px;
  width: 150px;
  height: 100%;
  z-index: 2;
  top: -1px;
}
