.category_recommend_box {
  width: 1020px;
  margin: 0px auto;
}
.empty_star {
  display: block;
  width: 75px;
  height: 15px;
  background: url("../img/widget/coupang_widget.png") no-repeat -39px -43px;
}
.review_star {
  display: block;
  width: 90%;
  height: 15px;
  background: url("../img/widget/coupang_widget.png") no-repeat -39px -58px;
}

.now_recommend_ad_title {
  display: block;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 160px;
  height: 20px;
}

/* Title */
.category_recommend_box .title_box div {
  margin: 40px 0 20px 0;
  width: 290px;
  height: 50px;
  background: url("../img/widget/coupang_widget_main.png") no-repeat 0px -125px;
}

.category_items {
  border-top: 2px solid #f6699e;
  border-bottom: 2px solid #ccc;
  display: flex;
  margin-bottom: 25px;
}
.category_items__title__keyword {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.category_items__title {
  padding: 40px 5px 0 15px;
  display: flex;
  flex-direction: column;
}
.category_items__title img {
  padding-bottom: 15px;
  width: 100px;
}
.category_items__title a {
  font-size: 12px;
  color: #ccc;
}
.category_items__keyword h4 {
  margin: 0;
}
.category_items__keyword ul {
  padding: 0;
}
.category_items__keyword li {
  border: 1px solid #ccc;
  width: fit-content;
  color: #de6090;
  margin: 0 5px 5px 0;
  font-size: 12px;
  padding: 5px 10px;
}
.test img {
  vertical-align: top;
}

.test2 {
  width: auto;
}

.test3 ul {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0 0 0;
  margin: 0;
}
.test3 li {
  width: fit-content;
  padding: 25px 12px 70px;
}
.test3 li:nth-child(-n + 3) {
  border-bottom: 1px solid #ccc;
}
.test3 img {
  width: 160px;
  height: 160px;
  border: 1px solid pink;
}
