.today {
  width: 1020px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
}
.today-items {
  top: 20px;
  left: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
