.today-item-small {
  vertical-align: top;
  position: relative;
  z-index: 2;
  top: 30px;
  right: -410px;
}
.today-item-small:hover {
  outline: 2px solid #4285f4;
  outline-offset: -2px;
}
.today-item-big {
  position: absolute;
  top: 0;
  left: 0%;
  transform: translate(-23.5%, 0%);
}
