.personalized-item,
.trending-item {
  margin: 0 1px;
}
.bestUnit-item {
  margin: 0;
}
.related-item,
.promotion-item {
  margin: 0 10px;
}
.infos {
  position: relative;
}
.discount {
  position: absolute;
  display: table;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: red;
  text-align: center;
  width: 50px;
  height: 30px;
  left: 0;
  top: 0;
}
.discount p {
  display: table-cell;
  vertical-align: middle;
}
.promotion-discount {
  color: #cb1400;
  font-weight: 700;
  font-size: 12px;
}
.promotion-discount-badge {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: -2px;
  background: url("../../assets/img/badges/discount-badge.png") no-repeat;
}
.info {
  padding: 6px 12px 4px;
}
.related-info,
.promotion-info,
.bestUnit-info {
  padding: 6px 0 0 0;
}

.ads__items img {
  width: 194px;
  height: 194px;
}
.title {
  display: block;
  overflow: hidden;
  font-weight: normal;
  text-overflow: ellipsis;
}

.personalized-hover,
.trending-hover,
.bestUnit-hover {
  text-decoration: underline;
  color: #346aff;
}
.related-hover,
.promotion-hover {
  text-decoration: underline;
}
.personalized-title,
.trending-title {
  width: 170px;
  font-size: 14px;
  white-space: nowrap;
}
.related-title,
.promotion-title,
.bestUnit-title {
  display: -webkit-box;
  font-size: 12px;
  width: 145px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.promotion-title,
.bestUnit-title {
  -webkit-line-clamp: 2;
}
.price-unit {
  margin: 8px 0;
  display: block;
  font-weight: 600;
  font-size: 12px;
  color: red;
}
.price {
  font-family: "tahoma";
  font-size: 14px;
}
.price-best {
  color: black;
}
.discount-type {
  font-size: 12px;
  color: #ae0000;
  margin: 2px 0 -3px;
}
.badge-free {
  color: #888;
  font-size: 14px;
  font-weight: 400;
}

.rocket_fresh {
  display: inline-block;
  width: 63px;
  height: 13px;
  background: url("../../assets/img/badges/rocket_fresh.png") no-repeat;
  background-size: cover;
  margin-left: 5px;
}
.jet_delivary {
  display: inline-block;
  width: 55px;
  height: 13px;
  background: url("../../assets/img/badges/jet_delivary.png") no-repeat;
  background-size: cover;
  margin-left: 5px;
}
.rocket_delivary {
  display: inline-block;
  width: 55px;
  height: 13px;
  background: url("../../assets/img/badges/rocket_delivary.png") no-repeat;
  background-size: cover;
  margin-left: 5px;
}

.badge-rocket-buy {
  margin-top: 3px;
  display: inline-block;
  width: 70px;
  height: 17px;
  background: url("../../assets/img/badges/rocket_buy.png") no-repeat;
  background-size: cover;
}
.badge-rocket-delivary {
  margin-top: 3px;
  display: inline-block;
  width: 70px;
  height: 17px;
  background: url("../../assets/img/badges/rocket_delivary.png") no-repeat;
  background-size: cover;
}
.badge-rocket-install {
  margin-top: 3px;
  display: inline-block;
  width: 70px;
  height: 17px;
  background: url("../../assets/img/badges/rocket_install.png") no-repeat;
  background-size: cover;
}

.review {
  display: flex;
  align-items: center;
  padding-top: 4px;
}
.review-count {
  font-weight: 600;
  font-size: 12px;
  color: #878787;
  padding-left: 3px;
}
.empty-star {
  display: block;
  width: 75px;
  height: 15px;
  background: url("../../assets/img/widget/coupang_widget.png") no-repeat -39px -43px;
}
.review-star {
  display: block;
  height: 15px;
  background: url("../../assets/img/widget/coupang_widget.png") no-repeat -39px -58px;
}
