.main {
  width: 1020px;
  margin: 40px auto 0 auto;
}
.contents {
  width: 980px;
  position: relative;
  margin-top: 40px;
  padding-bottom: 80px;
  border-bottom: 1px solid #eee;
  min-height: 330px;
  overflow: hidden;
}
.items-button {
  position: absolute;
  top: 45%;
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url("../../assets/img/icon/btn-arrow-black.webp") no-repeat;
  cursor: pointer;
  opacity: 0.5;
  z-index: 1;
}
.items-button:hover {
  opacity: 0.7;
  transition: 0.4s ease-in-out;
}
.title {
  margin-bottom: 25px;
}
.title span {
  font-size: 24px;
  font-weight: 600;
  padding-left: 42px;
  background: url("../../assets/img/icon/icon-trending-up@3x.webp") no-repeat;
  background-size: contain;
}
.items--ul {
  position: absolute;
  display: flex;
  margin: 0;
}
.item {
  margin: 0 1px;
}
.item-infos {
  position: relative;
}
.item-discount {
  position: absolute;
  display: table;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: red;
  text-align: center;
  width: 50px;
  height: 30px;
  left: 0;
  top: 0;
}
.item-discount p {
  display: table-cell;
  vertical-align: middle;
}
.item-info {
  width: auto;
  padding: 6px 6px 4px;
}
.items img {
  width: 194px;
  height: 194px;
}
.trending-ads_item-price-unit {
  font-weight: 600;
  font-size: 12px;
  color: red;
}
.trending-ads_item-price {
  font-family: "tahoma";
  font-size: 14px;
}
.trending-ads_item-price-free {
  color: #888;
  font-weight: 400;
}
.trending-ads_item-delivery {
  display: inline-block;
  width: 55px;
  height: 13px;
  background: url("../../assets/img/badges/rocket_delivery.webp") no-repeat;
  background-size: cover;
  margin-left: 5px;
}
.trending-ads_item-rocket-buy {
  margin-top: 3px;
  display: inline-block;
  width: 75px;
  height: 18px;
  background: url("../../assets/img/badges/rocket_buy.webp") no-repeat;
  background-size: cover;
}
.trending-ads_item-review {
  display: flex;
  align-items: center;
  padding-top: 4px;
}
.trending-ads_item-review-count {
  font-weight: 600;
  font-size: 12px;
  color: #878787;
  padding-left: 3px;
}

.next {
  right: 1px;
}
.prev {
  left: 1px;
  transform: scaleX(-1);
}
.description {
  position: absolute;
  font-size: 12px;
  padding-bottom: 20px;
  color: #ccc;
  bottom: 0;
  right: 0;
}
.empty-star {
  display: block;
  width: 75px;
  height: 15px;
  background: url("../../assets/img/widget/coupang_widget.webp") no-repeat -39px -43px;
}
.review-star {
  display: block;
  width: 90%;
  height: 15px;
  background: url("../../assets/img/widget/coupang_widget.webp") no-repeat -39px -58px;
}
