/* 총 가격 계산 */
.calc {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  background-color: #f5f5f5;
  padding: 1.4rem 2.2rem;
  border-bottom: 0.1rem solid #e2dfdf;
}
.calc span {
  margin-right: 0.2rem;
}
.plus,
.equal {
  display: inline-block;
  margin: 0 0.5rem;
  width: 1.3rem;
  height: 1.3rem;
  color: #b2b2b2;
}
.equal {
  transform: rotate(90deg);
}
.calc__price,
.calc__delivery,
.calc__total {
  font-size: 1rem;
  font-weight: 500;
}
.calc__total {
  font-weight: bold;
}
