/* 배송일자 */
.product__info--delivery {
  padding: 0.7rem 0 0.3rem 0;
  border-bottom: 0.1rem solid #eee;
}
.delivery--type {
  font-size: 0.75rem;
  font-weight: bold;
}
.delivery--date {
  font-size: 0.75rem;
}
.product__info--delivery p {
  margin: 0;
}
