.input__box {
  display: flex;
  position: relative;
  border: 0.1rem solid #ccc;
  margin-bottom: 0.5rem;
}
.icon__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #fafafa;
  color: #ccc;
  border-right: 0.1rem solid #ccc;
}
.icon__box svg {
  width: 1.4rem;
  height: 1.4rem;
  display: inline;
}
.input__box label {
  width: 90%;
}
.input__box label input {
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: #111;
  font-weight: bold;
  font-size: 0.9rem;
  text-indent: 0.75rem;
  border: none;
}
.error__border {
  border: 0.1rem solid #e52528;
  margin-bottom: 2rem;
}
.error__message {
  position: absolute;
  bottom: -1.5rem;
  left: 0.7rem;
  font-size: 0.75rem;
  color: #e52528;
}
