@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@font-face {
  font-family: "tahoma";
  src: url(./assets/fonts/Tahoma_Regular_font.ttf);
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: black;
}

ul {
  padding: 0;
}
