.discovery__item {
  position: relative;
  cursor: pointer;
}
.discovery__item:hover {
  border: 1px solid #0096e4;
}
.grid__item01 {
  grid-area: a;
  border: 1px solid #ccc;
}
.grid__item02 {
  grid-area: b;
  border: 1px solid #ccc;
}
.grid__item03 {
  grid-area: c;
  border: 1px solid #ccc;
}
.grid__item04 {
  grid-area: d;
  border: 1px solid #ccc;
}
.grid__item05 {
  grid-area: e;
  border: 1px solid #ccc;
}
.grid__item06 {
  grid-area: f;
  border: 1px solid #ccc;
}
.grid__item07 {
  grid-area: g;
  border: 1px solid #ccc;
}
.grid__item08 {
  grid-area: h;
  border: 1px solid #ccc;
}
.grid__item09 {
  grid-area: i;
  border: 1px solid #ccc;
}
.discovery__item--img01 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/discoveryItems/C2-B1.webp") no-repeat;
  background-size: cover;
}
.discovery__item--img02 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/discoveryItems/C2-B2.webp") no-repeat;
  background-size: cover;
}
.discovery__item--img03 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/discoveryItems/C2-B3.webp") no-repeat;
  background-size: cover;
}
.discovery__item--img04 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/discoveryItems/C2-B4.webp") no-repeat;
  background-size: cover;
}
.discovery__item--img05 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/discoveryItems/C2-B5.webp") no-repeat;
  background-size: cover;
}
.discovery__item--img06 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/discoveryItems/C2-B6.webp") no-repeat;
  background-size: cover;
}
.discovery__item--img07 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/discoveryItems/C2-B7.webp") no-repeat;
  background-size: cover;
}
.discovery__item--img08 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/discoveryItems/C2-B8.webp") no-repeat;
  background-size: cover;
}
.discovery__item--img09 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/discoveryItems/C2-B9.webp") no-repeat;
  background-size: cover;
}
.discovery__item--arrow {
  display: inline-block;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  background: url("../../assets/img/widget/coupang_widget_main.webp") no-repeat -513px -233px;
}
.discovery__item--buying {
  display: inline-block;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 105px;
  height: 45px;
  background: url("../../assets/img/widget/coupang_widget_main.webp") no-repeat -560px -233px;
}
