.login__header {
  padding-top: 40px;
  width: 200px;
  margin: 0 auto 10px;
}
.login__header__logo {
  display: inline-block;
  width: 200px;
  height: 50px;
  background: url("../../img/header_img/logo_coupang.png") no-repeat;
  background-size: 200px 50px;
}

.login__form--id--icon {
  display: inline-block;
  width: 22px;
  height: 20px;
  background: url("../../assets/img/sprite-member.svg") no-repeat 0px 0px;
}
.login__form--passwd--icon {
  display: inline-block;
  width: 22px;
  height: 20px;
  background: url("../../assets/img/sprite-member.svg") no-repeat -21px -1px;
}
.login__form--passwd--icon--visible {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 15px;
  width: 22px;
  height: 20px;
  background: url("../../assets/img/sprite-member.svg") no-repeat -105px -1px;
  cursor: pointer;
}
.login__form--passwd--icon--invisible {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 15px;
  width: 22px;
  height: 20px;
  background: url("../../assets/img/sprite-member.svg") no-repeat -126px -1px;
  cursor: pointer;
}

.login__form {
  margin: 0 auto;
  width: 460px;
}
.login__form--main {
  margin: 0 auto 12px;
  border: 1px solid #ccc;
  position: relative;
}

.login__form--label {
  display: flex;
}
.login__form--label div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-right: 1px solid #ccc;
  background-color: #fafafa;
  cursor: pointer;
}
.login__form--label input {
  width: 100%;
  border: 0;
  text-indent: 12px;
  font-weight: bold;
  font-size: 14px;
}
.login__form--label input:focus {
  outline: none;
}

.login__form--error {
  color: #e52528;
  font-size: 12px;
  margin: 5px 10px 15px 15px;
}

.valid {
  border-bottom: 2px solid #346aff;
}
.invalid {
  border-bottom: 2px solid #e52528;
}

.login__main__util {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 5px;
  font-size: 12px;
  position: relative;
  overflow: hidden;
}
.login__main__util__auto {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.login__main__util__auto i {
  display: inline-block;
  position: absolute;
  top: 25px;
  width: 20px;
  height: 15px;
  background: url("../../assets/img/sprite-member.svg") no-repeat -80px -21px;
}

.login__main__util__auto label {
  cursor: pointer;
}
.login__main__util__auto input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px -7px inset;
  appearance: none;
}
.login__main__util__auto--box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}
.login__main__util__auto--box i {
  display: inline-block;
  position: absolute;
  left: 3px;
  top: -4px;
  width: 15px;
  height: 10px;
  background: url("../../assets/img/sprite-member.svg") no-repeat -110px -21px;
}
.login__main__util__auto--box span {
  display: inline-block;
  padding: 8px;
  margin-top: 5px;
  font-size: 11px;
  background-color: #f4f4f4;
}
.login__main__util__find p {
  display: inline;
  font-size: 14px;
  color: #0073e9;
}
.login__main__util__find span {
  display: inline-block;
  width: 10px;
  height: 13px;
  margin-left: 5px;
  background: url("../../assets/img/sprite-member.svg") no-repeat -102px -23px;
}
.login__main__btn {
  margin-top: 15px;
  margin: 15px auto 0;
}
.login__main__btn__login {
  width: 100%;
  height: 50px;
  background-color: #0074e9;
  border: 0;
  color: white;
  font-size: 17px;
  font-weight: bold;
  box-shadow: 0 -2px 0 inset #004891;
  cursor: pointer;
}
.login__main__btn__join {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #0074e9;
  font-size: 17px;
  font-weight: bold;
  box-shadow: 0 -1px 0 inset #d9d9d9;
  cursor: pointer;
}
.line {
  width: 100%;
  margin: 20px auto;
  border-top: 1px solid #ccc;
}

.login__footer {
  font-size: 12px;
  color: rgb(129, 129, 129);
  width: 450px;
  margin: 0 auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 25px;
}
