.main {
  border-top: 1px solid #f1f4f6;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
}
.all {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}
.all p {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.on {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../assets/img/terms_check_on.svg") no-repeat;
  margin-right: 10px;
}
.off {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../assets/img/terms_check_off.svg") no-repeat;
  margin-right: 10px;
}
.arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../assets/img/terms_arrow.svg") no-repeat;
  background-size: 20px 20px;
  border: 0;
  cursor: pointer;
}
.text {
  font-size: 12px;
  color: #666;
  padding-left: 25px;
}
.text p {
  margin: 5px 0;
}

.terms {
  border: 1px solid #ccc;
  margin-top: 20px;
}

.items {
  padding: 0 0 0 20px;
}
.check {
  display: flex;
  cursor: pointer;
}
.items li p {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  color: #666;
  width: 360px;
}

.item {
  display: flex;
  margin-bottom: 12px;
  padding-left: 0;
}
.item:nth-last-child(-n + 3) {
  padding-left: 25px;
}

.box {
  display: flex;
}
