.footer {
  border-top: 2px solid #ccc;
  background: white;
}
.footer_nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
  white-space: nowrap;
}
.footer_nav ul {
  display: flex;
  font-size: 12px;
  padding: 0;
}
.footer_nav li {
  padding: 0px 15px;
  color: rgb(68, 68, 68);
}
.footer_nav li:nth-child(-n + 12) {
  border-right: 1px solid #ccc;
}
.footer_nav__dropdown {
  width: 180px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px 0 0 10px;
  font-size: 14px;
}
.footer_nav__dropdown p {
  margin: 0;
  padding: 10px 15px;
}

.footer_info {
  border-top: 1px solid #ccc;
  margin-top: 2px;
}
.footer_info__etc {
  display: flex;
}
.footer_info__etc span:first-child {
  width: 110px;
  height: 30px;
  background: url("../img/footer_img/footer_asset.png") no-repeat -20px -30px;
}
.footer_info__etc {
  display: flex;
  width: 1020px;
  margin: 0 auto;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding: 30px 0 20px 0;
}
address {
  font-style: normal;
}

.footer_info__etc1 {
  margin: 0 40px 0 30px;
}
.footer_info__etc2 {
  margin-right: 110px;
}
.footer_info__etc address a,
.footer_info__etc3 a {
  text-decoration: underline;
  color: rgb(68, 68, 68);
}
.footer_info__etc2 a {
  color: rgb(68, 68, 68);
}
.footer_info__etc2 span {
  font-size: 24px;
  font-weight: bold;
}
.footer_info__logo {
  width: 1020px;
  height: 60px;
  margin: 0 auto;
  background: url("../img/footer_img/footer_asset.png") no-repeat 0px -90px;
}

.footer_copyright {
  background-color: #333333;
  font-size: 11px;
  color: #888;
  margin-top: 25px;
}
.footer_copyright div {
  width: 1020px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.footer_copyright__logo {
  display: flex;
}
.footer_copyright__logo li:nth-child(1) a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../img/footer_img/footer_asset.png") no-repeat -220px -30px;
}
.footer_copyright__logo li:nth-child(2) a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../img/footer_img/footer_asset.png") no-repeat -346px -30px;
}
.footer_copyright__logo li:nth-child(3) a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../img/footer_img/footer_asset.png") no-repeat -388px -30px;
}
