* {
  list-style: none;
  text-decoration: none;
}

.header {
  width: 1020px;
  height: 115px;
  margin: 0 auto;
  display: flex;
}
.category {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.category a {
  font-size: 13px;
  position: relative;
  top: -40px;
  color: white;
}

.searchBar {
  display: flex;
  align-items: center;
  margin: 10px 30px;
}
.searchBar ul {
  display: flex;
}
.searchBar img {
  width: 200px;
}

.search {
  display: flex;
  border: 2px solid #4285f4;
  margin-left: 15px;
}
.search button {
  background-color: white;
  border: 0;
}
.search img {
  width: 25px;
  height: 25px;
  background-color: white;
}

.userInfo li {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
  margin: 0 10px;
}
.userInfo img {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.gnbMenu {
  font-size: 12px;
  position: relative;
  padding-left: 25px;
  top: -12px;
  display: flex;
  margin-bottom: 0;
}
.gnbMenu li {
  padding: 0 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gnbMenu img {
  padding-right: 5px;
  width: 15px;
}
