* {
  list-style: none;
}

.header {
  width: 1020px;
  margin: 0 auto;
  display: flex;
}

.categoryBtn {
  background-color: #4285f4;
  width: 110px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.categoryBtn span {
  font-size: 13px;
  margin-top: 10px;
}

.searchBox {
  height: 115px;
  margin-left: 30px;
}

.searchBar {
  display: flex;
  align-items: center;
  height: 80px;
}
.searchBar li {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 0 15px;
}
.searchBar h1 {
  margin: auto 25px;
}
.searchBar ul {
  display: flex;
}

.searchMenu {
  font-size: 12px;
  padding-bottom: 15px;
}
.searchMenu ul {
  display: flex;
}
.searchMenu li {
  padding: 0 15px;
}
