.topBar {
  width: 1020px;
  height: 30px;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.topBar nav {
  display: flex;
  justify-content: space-between;
}

.topBar ul {
  list-style: none;
  margin: 0;
  padding: 5px 25px 5px 10px;
  display: flex;
}

.topBar li {
  font-size: 12px;
  margin: 0.2rem;
}

.topBar span {
  padding-right: 3px;
}
