.topBar {
  background-color: #f0f0f0;
}
.topBar__main {
  width: 1020px;
  height: 30px;
  font-size: 11px;
  margin: 0 auto;
}

.topBar nav {
  display: flex;
  justify-content: space-between;
}

.topBar ul {
  list-style: none;
  margin: 0;
  padding: 5px 25px 5px 10px;
  display: flex;
}

.topBar li {
  margin: 2px;
  padding-right: 15px;
  cursor: pointer;
}

.topBar span {
  padding-right: 5px;
}

.icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../img/header_img/header_img_collection.png") no-repeat -150px -31px;
}
